In [1]:
import json
import numpy as np
import pandas as pd

In [3]:
with open("/mnt/c/Users/Cosimo Solidoro/Documents/Tesi/Dati_neuro/phenotype/phenotype/demographics.json") as f:
    data = json.load(f)

In [4]:
df = pd.DataFrame(data)
df

,cigs_mons,school_yrs,language2,cigs,race_1,race_2,religion,civil_stat,cigs_pack,race_3,...,MeasurementToolMetadata,cigs_cigs,race_main,gender,residence,ethnicity,language1,children_num,cigs_past,school_back
Description,18d. Months smoking,"13. How many years of school complete""",5c. Second,18. Have you ever smoked cigarettes on a daily...,6b. Race 1,6c. Race 2,9. Childhood religious affiliation:,10. Marital status:,"18a. If yes, estimate number of packs per day",6d. Race 3,...,Demographics,"18b. If yes, estimate number of cigarettes per...",6a. Race Main,2. Sex:,10c. Living alone or with others:,6e. Ethnicity,5a. First,10b. How many living children:,"18e. If smoker before, how many years ago did ...","14. Ever held back in school"""
MinValue,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,0,NaN
MaxValue,11,99,NaN,NaN,NaN,NaN,NaN,NaN,99,NaN,...,NaN,19,NaN,NaN,NaN,NaN,NaN,99,99.9,NaN
Levels,NaN,NaN,"{'3': 'Other', '1': 'English', '2': 'Spanish'}","{'0': 'No', '1': 'Yes current', '2': 'Yes past'}","{'6': 'More than one race', '3': 'Native Hawai...","{'6': 'More than one race', '3': 'Native Hawai...","{'6': 'Other', '3': 'Jewish', '4': 'Muslim', '...","{'5': 'Never Married', '3': 'Divorced', '4': '...",NaN,"{'6': 'More than one race', '3': 'Native Hawai...",...,NaN,NaN,"{'6': 'More than one race', '3': 'Native Hawai...","{'1': 'Male', '2': 'Female'}","{'8': 'Other', '6': 'In shared home w/ other r...","{'1': 'Hispanic origin', '2': 'Not of Hispanic...","{'3': 'Other', '1': 'English', '2': 'Spanish'}",NaN,NaN,"{'0': 'No', '1': 'Yes'}"
TermURL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df = pd.read_csv("/mnt/c/Users/Cosimo Solidoro/Documents/Tesi/Dati_neuro/phenotype/phenotype/participants.tsv", sep="\t", index_col=0)
df

,diagnosis,age,gender,bart,bht,dwi,pamenc,pamret,rest,scap,stopsignal,T1w,taskswitch,ScannerSerialNumber,ghost_NoGhost
participant_id,,,,,,,,,,,,,,,
sub-10159,CONTROL,30,F,1.0,NaN,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,35343.0,No_ghost
sub-10171,CONTROL,24,M,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,35343.0,No_ghost
sub-10189,CONTROL,49,M,1.0,NaN,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,35343.0,No_ghost
sub-10193,CONTROL,40,M,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,35343.0,No_ghost
sub-10206,CONTROL,21,M,1.0,NaN,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,35343.0,No_ghost
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
sub-70079,ADHD,21,M,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,35426.0,No_ghost
sub-70080,ADHD,48,M,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,35426.0,No_ghost
sub-70081,ADHD,50,M,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,35426.0,No_ghost
sub-70083,ADHD,46,F,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,35426.0,No_ghost
sub-70086,ADHD,48,M,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,35426.0,No_ghost

In [7]:
#extract info for sub-50005 (rowname)
df.loc["sub-50005"]

diagnosis                 SCHZ
age                         40
gender                       M
bart                       1.0
bht                        1.0
dwi                        1.0
pamenc                     NaN
pamret                     NaN
rest                       1.0
scap                       1.0
stopsignal                 1.0
T1w                        1.0
taskswitch                 1.0
ScannerSerialNumber    35343.0
ghost_NoGhost            ghost
Name: sub-50005, dtype: object